body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 1.25em;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.0625em;
}

h2 {
    font-size: 1.5rem;
}

.uploadForm,
.resizeControls {
    background-color: #000;
    padding: 1rem;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    align-items: center;
    margin-bottom: 1.25em;
    max-width: 25em;
    width: 100%;
}

.imgUploadInput {
    font-size: 1rem;
    padding: 0.5em;
    border: 0.125em solid #208dcc;
    border-radius: 0.3125em;
    width: 100%;
    cursor: pointer;
}

.imgSubmitBtn,
.resizeBtn {
    background-color: #f9f6ef;
    color: #000;
    font-size: 1rem;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-transform: uppercase;
}

.imgSubmitBtn:hover,
.resizeBtn:hover {
    background-color: #000;
    color: #f9f6ef;
    text-decoration: underline;
}

.widthInput,
.heightInput {
    padding: 0.625em;
    font-size: 1rem;
    border-radius: 0.3125em;
    border: 0.125em solid #208dcc;
    width: 100%;
    max-width: 9.375em;
    margin: 0.3125em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
    justify-content: center;
    margin-top: 1.25em;
}

.gallery img {
    width: 9.375em;
    height: 6.25em;
    object-fit: cover;
    border: 0.125em solid #208dcc;
    border-radius: 0.375em;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.imgSelect {
    padding: 0.625em;
    font-size: 1rem;
    border-radius: 0.3125em;
    border: 0.125em solid #208dcc;
    width: 100%;
    max-width: 18.75em;
}